@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li,a,button,h2 {
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
}
h2 {
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 24px;
    color:whitesmoke;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10%;
    background-color: rgb(63, 63, 63);
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 30px;
    margin-top: 10px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: aqua;
}
.active {
    color: aqua;
}
#button {
    padding: 9px 25px;
    background-color:rgb(19, 151, 212);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
 