.fas.fa-university {
  font-size: 25px;
}

.fa.fa-cog {
  font-size: 25px;
}

.fa.fa-bell {
  font-size: 25px;
}

.nav-link {
  font-size: 25px;
}

body {
  overflow: hidden;
  /*overflow-x: hidden;*/
}

.style-border {
  box-shadow: 0px 0px 5px 5px #a39e8c;
  border-radius: 10px;
}

.message-border {
  box-shadow: 0px 0px 5px 5px #a39ebc;
  border-radius: 3px;
}

